
.mark_main_card {
    width: 100%;
    padding: 0px 0; /* Optional: Adds some padding around the container */
  }
  
  .mark_card {
    width: 100%;
    /* background-color: #f5f5f5; */
    border-radius: 8px; /* Optional: Border radius for rounded corners */
    overflow: hidden; /* Hide anything overflowing the container */
  }
  
  .logo_slide {
    display: flex; /* Arrange logos in a row */
    animation: marquee 45s linear infinite; /* Scroll the logos horizontally */
  }
  
  .logo_slide img {
    max-width: 150px; /* Adjust logo size */
    height: auto;
    margin-right: 40px; /* Gap between images */
  }
  
  /* Keyframe animation for scrolling effect */
  @keyframes marquee {
    0% {
      transform: translateX(100%); /* Start from the right */
    }
    100% {
      transform: translateX(-100%); /* End at the left */
    }
  }
  